name: Deploy to Render

on:
  push:
    branches: [master]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl --fail -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
